@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #314D48;
}

ul, a {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #229A85;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 10px 10%;
    background-color: #33383F;
} 

.accueil_logo {

        margin-top: 20%;

}

.nav_menu {
  list-style: none;
}

.nav_menu li {
  display: inline-block;
  padding: 10px 170px;
}

.nav_menu li a {
  transition: all 0.4s ease 0s;
}

.nav_menu li a:hover {
  color: white;
}


.img {

    display: flex;
    justify-content: space-around;
    margin: 160px;
    padding: -30px;
    margin-top: 70px;
    border-radius: 50%;
}

.img a:hover {

    transform: rotate(4deg);

}

.text p{

    box-sizing: border-box;
    background-color: white;
    margin: 60px;
    margin-top: -4%;
    padding: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    
}

footer {

    background-color: #33383F;
    padding: 19px;

}

.social_networks {

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;


}

