@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

ul, a {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 10px 10%;
    background-color: #33ccff;
} 

.accueil_logo {

        margin-top: 20%;

}

.nav_menu {
  list-style: none;
}

.nav_menu li {
  display: inline-block;
  padding: 10px 170px;
}

.nav_menu li a {
  transition: all 0.4s ease 0s;
}

.nav_menu li a:hover {
  color: white;
}

h3{

  font-family: "Libre Baskerville", sans-serif;
  margin: 30px;

}

h2{

  font-family: "Libre Baskerville", sans-serif;
  margin: 30px;

}

.dl_waze {

  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 130%;
  color:black;

}

.img {

  display: flex;
  justify-content: center;
  margin: 30px;

}

p {

  font-family: "Roboto", sans-serif;
  margin: 30px;

}


footer {

    background-color: #33ccff;
    padding: 19px;
}

.social_networks {

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;


}

